configuration {
  sidebar-mode:     true;
  hide-scrollbar:   true;
  font:             "Inconsolata 18";
  kb-cancel:        "Escape";
  kb-mode-next:     "Alt+l,Alt+n";
  kb-mode-previous: "Alt+h,Alt+N";
  kb-row-up:        "Alt+k,Up";
  kb-row-down:      "Alt+j,Down";
  modi:             "drun,run";
}
@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
